<h1>Select a Character to Play!</h1>

{{#each character}}
<p><strong>Name: </strong>{{this.name}}</p>

<p><strong>Class: </strong>{{this.characterClass}}</p>

<p><strong>Level: </strong>{{this.level}}</p>

<p><strong>Description: </strong>{{this.description}}</p>
<hr>

<h2>Attributes:</h2>

<p><strong>Health Points: </strong>{{this.healthPoints}}</p>

<p><strong>Strength: </strong>{{this.strength}}</p>

<p><strong>Defense: </strong>{{this.defense}}</p>

<p><strong>Experience Points: </strong>{{this.experiencePoints}}</p>

<form action="/game/game-select" method="POST">
    <input type="text" name="charId" class="visually-hidden" value="{{this._id}}">
    <button type="submit">CHOOSE</button>
</form>
{{else}}
<h2>You don't have any characters!</h2>
{{/each}}