<div class="container">
    <div class="row">
        <header class="pb-3 mb-4 col-10">
            <a href="/characters" class="d-flex align-items-center text-dark text-decoration-none">
                <span class="fs-4">Character Gallery</span>
            </a>
        </header>
        <div class="col-2 d-flex justify-content-end inline">
            <form action="/characters" method="GET" class="row">
                <div class="col-10">
                    <select class="form-select" name="characterClass">
                        <option disabled selected hidden>
                            Search
                        </option>
                        <option value="Bard">Bard</option>
                        <option value="Fighter">Fighter</option>
                        <option value="Wizard">Wizard</option>
                        <option value="seeAll">See All</option>
                    </select>
                </div>
                <div class="col-2">
                    <button class="btn btn-secondary m-0 p-2" type="submit">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="p-5 mb-4 bg-dark-subtle rounded-3">
        <div class="container-fluid">
            <h1>Welcome to the Character Gallery</h1>
            <p class="col-md-8 fs-4">
                In the gallery you can check out characters from all around the world. See the ilustrations, the
                interesting background stories or take a look over the stats of a specific character!
                <br /> <br />
                Check out the characters created by the community!
            </p>
            {{#if currentUser}}
            <form action="/characters/create" method="GET" class="text-end">
                <button class="btn btn-dark">CREATE CHARACTER</button>
            </form>
            {{/if}}
        </div>
    </div>
</div>

<div class="container">
    <div class="row">

        {{#each character}}

        <div class="card mx-auto mb-3 h-100 shadow-lg">
            <h3 class="card-header mb-2 border-0 rounded bg-danger text-center">
                {{this.name}}
                <span class="badge bg-secondary">{{this.characterClass}}</span>
            </h3>
            <img class="card-img-top" src="{{this.charImgUrl}}" alt="Card image" width="100" height="300">
            <div class="card-body">
                <h4 class="card-text">🎲 Level: {{this.level}}</h4>
                <h4 class="card-text">🕵🏻‍♂️ Owner: {{this.owner.username}}</p>
                    <div class="text-center">
                        <a href="/characters/{{this._id}}" class="btn btn-success mb-3">See Details</a>
                    </div>
            </div>
        </div>

        {{else}}

        No characters in DB.

        {{/each}}

    </div>
</div>

{{#if currentUser}}
<form action="/characters/create" method="GET">
    <button class="position-fixed bottom-0 end-0 mb-3 me-3 btn btn-dark">CREATE CHARACTER</button>
</form>
{{/if}}